<div layout="row" ng-cloak>
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <h1>Contatos</h1>
        </md-toolbar>
        <md-input-container style="margin-bottom:0">
            <label>Buscar Contato</label>
            <input required name="contatoName" ng-model="_ctrl.filterText" ng-change="_ctrl.filter()">
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="it in _ctrl.contatos">
                <md-button ng-click="_ctrl.selectContato(it, $index)" ng-class="{'selected' : it === _ctrl.selected }">
                    {{it.nome}} {{it.sobrenome}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-content layout-fill layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" style="height: 100%;">

        <md-toolbar class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
                <h1>Dados do Contato</h1>
            </div>
        </md-toolbar>

        <md-content flex ng-cloak layout="column">
            <md-toolbar md-theme="altTheme">
                <div class="md-toolbar-tools">
                    {{ _ctrl.selected.nome }} {{ _ctrl.selected.sobrenome}}
                    <span flex></span>
                    <md-button class="md-raised md-info" ng-if="!_ctrl.editando" ng-click="_ctrl.createContato()">Novo</md-button>
                    <md-button class="md-raised md-info" ng-if="_ctrl.editando" ng-disabled="!formContato.$valid || !_ctrl.alterado" ng-click="_ctrl.saveContato()">Salvar</md-button>
                    <md-button class="md-raised md-info" ng-if="!_ctrl.editando && _ctrl.selected._id" ng-click="_ctrl.editarContato()">Editar</md-button>
                    <md-button class="md-raised md-info" ng-if="_ctrl.editando" ng-click="_ctrl.cancelarEdicao()">Cancelar</md-button>
                    <md-button class="md-raised md-warn" ng-if="_ctrl.editando && _ctrl.selected._id" ng-click="_ctrl.deleteContato()">Remover</md-button>
                </div>
            </md-toolbar>

            <md-content ng-cloak id="toastBounds" >
                <form name="formContato">
                    <md-content layout-padding layout-sm="column" layout="row">
                        <md-input-container style="width: 50%">
                            <label>Nome</label>
                            <input ng-model="_ctrl.selected.nome" type="text" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando" required>

                        </md-input-container>
                        <md-input-container style="width: 50%">
                            <label>Sobrenome</label>
                            <input ng-model="_ctrl.selected.sobrenome" type="text" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando">
                        </md-input-container>
                    </md-content>
                    <md-content layout-padding layout-sm="column" layout="row">
                        <md-input-container md-no-float style="width: 100%">
                            <label>E-mail</label>
                            <input type="email" name="email" ng-model="_ctrl.selected.email" minlength="8" maxlength="100" ng-pattern="/^.+@.+\..+$/"
                            ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando" />
                        </md-input-container>
                    </md-content>
                    <section>
                        <md-subheader class="md-primary">Endereços</md-subheader>
                        <md-content layout-padding layout-sm="column" layout="row" ng-repeat="end in _ctrl.selected.enderecos">
                            <div md-no-float style="width: 25%">
                                <!--md-autocomplete md-floating-label="Tipo" md-selected-item="end.tipo" md-items="tipo in _ctrl.tiposEndereco" md-item-text="tipo"
                                md-min-length="0" placeholder="Tipo do endereço" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{tipo}}</span>
                                    </md-item-template>
                                </md-autocomplete-->
                                <md-select ng-model="end.tipo" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando" aria-label="Tipo">
                                    <md-option ng-repeat="tipo in _ctrl.tiposEndereco" value="{{tipo}}">
                                        {{tipo}}
                                    </md-option>
                                </md-select>
                            </div>
                            <span flex></span>
                            <md-input-container style="width: 70%">
                                <label>Endereço</label>
                                <textarea ng-model="end.endereco" columns="1" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando"></textarea>
                            </md-input-container>
                        </md-content>
                        <md-button class="md-icon-button" aria-label="Adicionar endereço" ng-click="_ctrl.adicionarEndereco()" ng-if="_ctrl.editando">
                            <md-tooltip>Adicionar endereço</md-tooltip>
                            <md-icon md-svg-icon="assets/svg/add.svg"></md-icon>
                        </md-button>
                    </section>
                    <section>
                        <md-subheader class="md-primary">Telefones</md-subheader>
                        <div layout-padding layout-sm="column" layout="row" ng-repeat="tel in _ctrl.selected.telefones">
                            <div md-no-float style="width: 25%">
                                <!--
                                <md-autocomplete md-floating-label="Tipo" md-selected-item="tel.tipo" md-items="tipo in _ctrl.tiposTelefone" md-item-text="tipo"
                                md-min-length="0" placeholder="Tipo do telefone">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{tipo}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                                -->
                                <md-select ng-model="tel.tipo" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando" aria-label="Tipo">
                                    <md-option ng-repeat="tipo in _ctrl.tiposTelefone" value="{{tipo}}">
                                        {{tipo}}
                                    </md-option>
                                </md-select>
                            </div>
                            <span flex></span>
                            <md-input-container md-no-float style="width: 70%">
                                <label>Número</label>
                                <input ng-model="tel.numero" type="text" ui-br-phone-number ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando">
                            </md-input-container>
                        </div>
                        <md-button class="md-icon-button" aria-label="Adicionar telefone" ng-click="_ctrl.adicionarTelefone()" ng-if="_ctrl.editando">
                            <md-tooltip>Adicionar telefone</md-tooltip>
                            <md-icon md-svg-icon="assets/svg/add.svg"></md-icon>
                        </md-button>
                    </section>
                </form>
            </md-content>
        </md-content>
        {{_ctrl.oldContato}}
    </md-content>
</div>